@charset "utf-8";
/* CSS Document */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
body {
    background-color: white;
}
.topbar	{
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    z-index: 998;
}
.topbar li 	{
    display: inline;
}
.topbar li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 12px 13px;
    text-decoration: none;
    font-family: sans-serif;
}
.topbar li a:hover {
    background-color: darkblue;
}
.topbar li a.active {
    background-color: blue;
    color: white;
}
.leftcontent, .midcontent, .rightcontent {
    margin-top: 3%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 3%;
    padding-left: 2%;
    padding-right: 2%;
    background: white;
    position: static;
    overflow: visible;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    font-family: sans-serif;
}
.leftcontent {
    float: left;
    width: 20%;
}
.midcontent {
    display: inline-block;
    width: 20%;
}
.rightcontent {
    float: right;
    width: 20%;
}



.footer	{
    background-color: black;
    width: 100%;
    height: 120px;
    padding-top: 10px;
    padding-left: 1%;
    margin: 0;
    bottom: 0;
    position: relative;
    display: table;
}
.footer p 	{
    color: white;
    line-height: 10%;
    text-align: left;
}


/** Artist Main page **/

.artist { margin: 100px 30px;
}

.artist a { text-decoration: none;
					color: black;
}

.artist a:hover {color: blue;
					text-decoration: none;
}