@charset "UTF-8";

@import "../../OrchestraWebSite-master/styles.css";

#container
{
	margin-left:40px;
	margin-right:40px
}

*
{
	box-sizing:border-box
}

.active,.dot:hover
{
	background-color:#717171
}

.announcements
{
	-moz-box-shadow:10px 10px 10px rgba(0,0,0,0.5);
	-webkit-box-shadow:10px 10px 10px rgba(0,0,0,0.5);
	background:#FFF;
	background-color:#FFF;
	border:2px solid #000;
	border-radius:5px;
	box-shadow:10px 10px 10px rgba(0,0,0,0.5);
	display:table;
	font-family:sans-serif;
	font-size:120%;
	line-height:100%;
	margin:3% 10% 1%;
	overflow:visible;
	padding-right:3%;
	position:static;
	width:80%
}

.artist
{
	margin:100px 30px
}

.artist a
{
	color:#000;
	text-decoration:none
}

.artist a:hover
{
	color:blue;
	text-decoration:none
}

.black
{
	background-color:#000
}

.body-content
{
	background-color:#FFF;
	padding:50px 0
}

.button
{
	float:right;
	font-size:20px;
	margin-top:20px
}

.caption
{
	bottom:8px;
	color:#f2f2f2;
	font-size:15px;
	padding:8px 12px;
	position:absolute;
	text-align:center;
	width:100%
}

.content
{
	-moz-box-shadow:10px 10px 10px rgba(0,0,0,0.5);
	-webkit-box-shadow:10px 10px 10px rgba(0,0,0,0.5);
	background:#FFF;
	background-color:#FFF;
	border:2px solid #000;
	border-radius:5px;
	box-shadow:10px 10px 10px rgba(0,0,0,0.5);
	display:table;
	font-family:sans-serif;
	font-size:120%;
	line-height:100%;
	margin:3% 10% 1%;
	overflow:visible;
	padding-right:3%;
	position:static;
	width:80%
}

.content a
{
	color:#000;
	font-size:120%;
	text-decoration:none
}

.content h1
{
	font-size:150%;
	padding-left:3%
}

.content p
{
	align-content:center;
	font-size:100%;
	line-height:180%;
	padding-left:3%;
	padding-right:3%;
	text-align:justify;
	top:20px
}

.contentbox
{
	-moz-box-shadow:10px 10px 10px rgba(0,0,0,0.5);
	-webkit-box-shadow:10px 10px 10px rgba(0,0,0,0.5);
	background:#FFF;
	border:2px solid #000;
	border-radius:5px;
	box-shadow:10px 10px 10px rgba(0,0,0,0.5);
	font-family:sans-serif;
	height:auto;
	margin-bottom:1%;
	overflow:auto;
	padding-left:4%;
	padding-right:2%;
	vertical-align:bottom;
	width:auto
}

.contentbox h2
{
	text-align:center
}

.contentbox img
{
	border:2px solid #000;
	border-radius:5px;
	display:block;
	margin-bottom:1%;
	margin-left:auto;
	margin-right:auto
}

.dlowbutton
{
	background-color:#ffd700;
	border:2px solid #000;
	border-radius:5px;
	color:#000;
	height:100px;
	line-height:70px;
	margin-bottom:1em;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	text-decoration:none;
	width:300px
}

.dlowbutton:hover
{
	background-color:#daa520
}

.dot
{
	background-color:#bbb;
	border-radius:50%;
	cursor:pointer;
	display:inline-block;
	height:13px;
	margin:0 2px;
	transition:background-color .6s ease;
	width:13px
}

.fade
{
	-webkit-animation-duration:1.5s;
	-webkit-animation-name:fade;
	animation-duration:1.5s;
	animation-name:fade
}

.floatdivleft
{
	display:inline-block;
	float:left;
	width:60%
}

.floatdivright
{
	display:inline-block;
	float:right;
	width:30%
}

.floatimg
{
	box-sizing:inherit;
	float:left;
	padding-right:10px
}

.footer
{
	background-color:#000;
	bottom:0;
	display:table;
	height:120px;
	margin:0;
	padding-left:1%;
	padding-top:10px;
	position:relative;
	width:100%
}

.footer p
{
	color:#FFF;
	line-height:10%;
	text-align:left
}

.forms
{
	float:left;
	width:50%
}

.leftcontent
{
	float:left;
	width:20%
}

.leftcontent,.midcontent,.rightcontent
{
	-moz-box-shadow:10px 10px 10px rgba(0,0,0,0.5);
	-webkit-box-shadow:10px 10px 10px rgba(0,0,0,0.5);
	background:#FFF;
	background-color:#FFF;
	border:2px solid #000;
	border-radius:5px;
	box-shadow:10px 10px 10px rgba(0,0,0,0.5);
	font-family:sans-serif;
	margin:3% 4%;
	overflow:visible;
	padding-left:2%;
	padding-right:2%;
	position:static
}

.midcontent
{
	display:inline-block;
	margin-left:10%;
	width:20%
}

.next
{
	border-radius:3px 0 0 3px;
	right:0
}

.next_concert
{
	background-color:grey;
	color:#FFF;
	float:right;
	font-family:sans-serif;
	font-size:38px;
	text-decoration:none
}

.next_concert:hover
{
	background-color:darkgrey
}

.numbertext
{
	color:#f2f2f2;
	font-size:12px;
	padding:8px 12px;
	position:absolute;
	top:0
}

.one-third
{
	float:left;
	margin-right:5%;
	width:30%
}

.one-third-second
{
	text-align:center;
	width:30%
}

.one-third-third
{
	float:right;
	margin-right:0
}

.one-third_fourth
{
	float:left;
	width:30%
}

.one-third_one-third-fifth
{
	float:none;
	width:30%
}

.panel
{
	display:none;
	padding:50px
}

.panel2
{
	display:none;
	padding:50px
}

.panel2,.flip2
{
	background-color:#FFF;
	padding:5px
}

.panel3
{
	display:none;
	padding:50px
}

.panel3,.flip3
{
	background-color:#FFF;
	padding:5px
}

.panel4
{
	display:none;
	padding:50px
}

.panel4,.flip4
{
	background-color:#FFF;
	padding:5px
}

.panel5
{
	display:none;
	padding:50px
}

.panel5,.flip5
{
	background-color:#FFF;
	padding:5px
}

.panel6
{
	display:none;
	padding:50px
}

.panel6,.flip6
{
	background-color:#FFF;
	padding:5px
}

.panel7
{
	display:none;
	padding:50px
}

.panel7,.flip7
{
	background-color:#FFF;
	padding:5px
}

.panel8
{
	display:none;
	padding:50px
}

.panel8,.flip8
{
	background-color:#FFF;
	padding:5px
}

.prev,.next
{
	border-radius:0 3px 3px 0;
	color:#FFF;
	cursor:pointer;
	font-size:18px;
	font-weight:700;
	margin-top:-22px;
	padding:16px;
	position:absolute;
	top:50%;
	transition:.6s ease;
	width:auto
}

.prev:hover,.next:hover
{
	background-color:rgba(0,0,0,0.8)
}

.previous_concert
{
	background-color:grey;
	color:#FFF;
	float:left;
	font-family:sans-serif;
	font-size:38px;
	text-decoration:none
}

.previous_concert:hover
{
	background-color:darkgrey
}

.rightcontent
{
	float:right;
	width:20%
}

.slides
{
	display:none;
	text-align:center
}

.slideshow
{
	margin:auto;
	max-height:370px;
	max-width:1000px;
	position:relative
}

.thirds
{
	padding-bottom:50px
}

.topbar
{
	background-color:#000;
	margin:0;
	overflow:hidden;
	padding:0;
	position:fixed;
	top:0;
	width:100%;
	z-index:998
}

.topbar li
{
	display:inline
}

.topbar li a
{
	color:#FFF;
	display:inline-block;
	font-family:sans-serif;
	padding:12px 13px;
	text-align:center;
	text-decoration:none
}

.topbar li a.active
{
	background-color:blue;
	color:#FFF
}

.topbar li a:hover
{
	background-color:#00008b
}

.wrapper
{
	background:#FFF;
	height:auto;
	margin:3% auto;
	width:80%
}

a
{
	text-decoration:none
}

a[href^=//]:after,a[href^=http://]:after,a[href^=https://]:after
{
	content:url(http://upload.wikimedia.org/wikipedia/commons/6/64/Icon_External_Link.png);
	margin:0 0 0 5px
}

body
{
	background-color:#FFF;
	font-family:Gotham,"Helvetica Neue",Helvetica,Arial,sans-serif
}

button:hover
{
	background-color:dimgrey;
	text-decoration:none
}

h1
{
	text-align:center
}

h2
{
	text-align:center
}

html,body
{
	height:100%;
	margin:0;
	padding:0;
	width:100%
}

input[type=submit]
{
	background-color:#ffd700;
	border:0;
	border-radius:4px;
	color:#000;
	cursor:pointer;
	margin:8px 0;
	padding:14px 20px;
	width:100%
}

input[type=submit]:hover
{
	background-color:#daa520
}

input[type=text],input[type=number],select
{
	border:1px solid #ccc;
	border-radius:4px;
	box-sizing:border-box;
	display:inline-block;
	margin:8px 0;
	padding:12px 20px;
	width:100%
}

to
{
	opacity:1
}

@media only screen and max-width 300px {
	.prev,.next,.text
	{
		font-size:11px
	}
}

@media screen and max-width500px {
	.mobile-collapse
	{
		float:none;
		margin-right:0;
		width:auto
	}
}