@charset "utf-8";
/* CSS Document */

html, body {
			margin: 0;
			padding: 0;
			height: 100%;
			width: 100%;
}
body { 
  			background: url(images/background.jpg) no-repeat center center; 
  			-webkit-background-size: cover;
  			-moz-background-size: cover;
  			-o-background-size: cover;
  			background-size: cover;
			background-color: #010417;
			margin: 0;
}
ul.topbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
}
ul.topbar li {float: left;}

ul.topbar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

ul.topbar li a:hover:not(.active) {background-color: darkblue;}

ul.topbar li a.active {background-color: blue;}

ul.topbar li.right {float: right;}

@media screen and (max-width: 600px){
	ul.topbar li.right,
	ul.topbar li {float: none;}
}
.black {
            background-color: black;
}
.content {
            background: white;
            position: static;
            overflow: visible;
            background-color: white;
            margin-top: 3%;
            margin-bottom: 1%;
            margin-left: 10%;
            margin-right: 10%;
            padding-right: 3%;
            display: table;
            font-size: 120%;
            line-height: 100%;
            width: 80%;
            border: 2px solid gold;
            border-radius: 5px;
            -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
            -moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
            box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
            font-family: sans-serif;
}
.content p  {
			align-content: center;
			top: 20px;
			font-size: 100%;
			line-height: 180%;
			text-align: justify;
			padding-left: 3%;
			padding-right: 3%;
}
.content a{
			text-decoration: none;
			font-size: 120%;
			color: black
}
.content h1 {
			font-size: 150%;
			padding-left: 3%;
}
.content img {
			align-content: center;
}
.floatimg		{
			float: left;
			padding-right: 10px;
			box-sizing: inherit;
}
.announcements	{
			background: white;
			position: static; 
			overflow: visible; 
			background-color: white;
			margin-top: 3%;
			margin-bottom: 1%;
			margin-left: 10%;
			margin-right: 10%;
			padding-right: 3%;
			display: table;
			font-size: 120%;
			line-height: 100%;
			width: 80%;
			border: 2px solid black;
    		border-radius: 5px;
			-webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
			-moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
			box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
			font-family: sans-serif;
}
/** Home Page **/
.fb-share-button{
	display: table;
	float: right;
	padding: 0;
	margin: 0;
	position: inherit;
	z-index: 999;
}
audio		{
	float: right;
	display: inline-table;
	padding: 0;
	margin: 0;
	position: inherit;
	z-index: 999;
	background: black;
}
.wrapper {
	width: 80%;
	height: 100%;
	margin-top: 3%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3%;
}
.left {
	width: 60%;
	height: auto;
}
.right {
	height: auto;

}

.right .top {
	height: 325px;
	width: 100%;
	margin-top: -6%;
	margin-left: 5%;
	margin-bottom: 4%;
	padding-left: 2%;
	padding-right: 2%;
	overflow-y: scroll;
	text-align: center;
	background: white;
	vertical-align: top;
	border: 2px solid gold;
	border-radius: 5px;
	-webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
	font-family: sans-serif;
}
.right .bottom {
	height: 325px;
	width: 100%;
	margin-left: 5%;
	margin-bottom: 1%;
	text-align: center;
	background: white;
	vertical-align: bottom;
	border: 2px solid gold;
	border-radius: 5px;
	-webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
	font-family: sans-serif;
}
.feed {
	height: 150px;
	padding-left: 2%;
	padding-right: 2%;
	margin-bottom: 3%;
	background: white;
	border: 2px solid gold;
	border-radius: 5px;
	-webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
	font-family: sans-serif;
}
.feed img {
	float: left;
	margin-right: 5px;
}
.feed h2 {
	line-height: 300%;
}
* {box-sizing:border-box}
.Slides {
	display:none;
	text-align: center;}

/* Slideshow container */
.slideshow {
	max-width: 1000px;
	position: relative;
	margin: auto;
	max-height: 370px;
}

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.caption {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;

}

/* The dots/bullets/indicators */
.dot {
	cursor:pointer;
	height: 13px;
	width: 13px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.active, .dot:hover {
	background-color: #717171;
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}
/** Support Page **/
.wrapper {
	height:auto;
	margin:3% auto;
	width:80%
}
.floatdivleft
{
	display:inline-block;
	float:left;
	width:60%
}

.floatdivright
{
	display:inline-block;
	float:right;
	width:30%
}
.content
{
	-moz-box-shadow:10px 10px 10px rgba(0,0,0,0.5);
	-webkit-box-shadow:10px 10px 10px rgba(0,0,0,0.5);
	background:#FFF;
	background-color:#FFF;
	border:2px solid gold;
	border-radius:5px;
	box-shadow:10px 10px 10px rgba(0,0,0,0.5);
	display:table;
	font-family:sans-serif;
	font-size:120%;
	line-height:100%;
	margin:3% 10% 1%;
	overflow:visible;
	padding-right:3%;
	position:static;
	width:80%
}

.content a
{
	color:#000;
	font-size:120%;
	text-decoration:none
}

.content h1
{
	font-size:150%;
	padding-left:3%
}

.content p
{
	align-content:center;
	font-size:100%;
	line-height:180%;
	padding-left:3%;
	padding-right:3%;
	text-align:justify;
	top:20px
}

.contentbox
{
	-moz-box-shadow:10px 10px 10px rgba(0,0,0,0.5);
	-webkit-box-shadow:10px 10px 10px rgba(0,0,0,0.5);
	background:#FFF;
	border:2px solid gold;
	border-radius:5px;
	box-shadow:10px 10px 10px rgba(0,0,0,0.5);
	font-family:sans-serif;
	height:auto;
	margin-bottom:1%;
	overflow:auto;
	padding-left:4%;
	padding-right:2%;
	vertical-align:bottom;
	width:auto
}

.contentbox h2
{
	text-align:center
}

.contentbox img
{
	border:2px solid #000;
	border-radius:5px;
	display:block;
	margin-bottom:1%;
	margin-left:auto;
	margin-right:auto
}

.dlowbutton
{
	background-color:#ffd700;
	border:2px solid #000;
	border-radius:5px;
	color:#000;
	height:100px;
	line-height:70px;
	margin-bottom:1em;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	text-decoration:none;
	width:300px
}

.dlowbutton:hover
{
	background-color:#daa520
}
.forms
{
	float:left;
	width:50%
}
input[type=submit]
{
	background-color:#ffd700;
	border:0;
	border-radius:4px;
	color:#000;
	cursor:pointer;
	margin:8px 0;
	padding:14px 20px;
	width:100%
}

input[type=submit]:hover
{
	background-color:#daa520
}

input[type=text],input[type=number],select
{
	border:1px solid #ccc;
	border-radius:4px;
	box-sizing:border-box;
	display:inline-block;
	margin:8px 0;
	padding:12px 20px;
	width:100%
}
/** Gallery **/
.gallery {
	margin-top: 50px;
    margin: 3%;
    border: 1px solid gold;
    float: left;
    width: 180px;
	
}
.gallery:hover {
    border: 1px solid goldenrod;
}
.gallery img {
    width: 100%;
    height: auto;
}
/** Artist Page **/
.leftcontent {
    		display: inline-block;
			height: auto
}
.midcontent {
    		display: inline-block;
			height: auto;
}
.rightcontent {
    		display: inline-block;
			height: auto;
}
.leftcontent, .midcontent, .rightcontent {
			width: 350px;
    		margin-top: 10%;
    		margin-left: 6%;
    		margin-right: 4%;
    		padding-left: 2%;
    		padding-right: 2%;
    		background: white;
    		position: relative;
    		overflow: visible;
    		background-color: white;
    		border: 2px solid gold;
    		border-radius: 5px;
    		-webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    		-moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    		box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    		font-family: sans-serif;
}
.leftcontent, .midcontent, .rightcontent, h1 {
			color: Black;
			text-align: center;
			padding: 12px 13px;
			text-decoration: none;
			font-family: sans-serif;
			font-size: 120%;
            line-height: 100%;
}
/**Footer**/
.footer	{
			background-color: black;
			width: 99%;
			padding-top: 10px;
			padding-left: 1%;
			margin: 0;
			bottom: 0;	
			position: relative;
			display: table;
}
.footer p 	{	
			color: white;
			line-height: 10%;
			text-align: left;	
}
/** next and previous links of evet pages **/
.next_concert { 
			background-color: blue;
			color: white;
			text-decoration: none;
			font-size: 38px;
			float: right;
			font-family: sans-serif;
			margin: 4px 2px;
    		cursor: pointer;
			border-radius: 12px;
}
.next_concert:hover { 
			background-color: darkblue;
			margin: 4px 2px;
    		cursor: pointer;
			border-radius: 12px;
}
.previous_concert { 
			background-color: blue;
			color: white;
			text-decoration: none;
			font-size: 38px;
			float: left;
			font-family: sans-serif;
			margin: 4px 2px;
    		cursor: pointer;
			border-radius: 12px;
}
.previous_concert:hover { 
			background-color: darkblue;
			margin: 4px 2px;
    		cursor: pointer;
			border-radius: 12px;
}
/** Booknow button on  **/
.booknowbutton { 	
			background-color: gold; /* Green */
    		border: none;
    		color: black;
    		padding: 15px 32px;
    		text-align: center;
    		text-decoration: none;
    		display: inline-block;
    		font-size: 16px;
    		margin: 4px 2px;
    		cursor: pointer;
			border-radius: 12px;
			float: right;
}
.booknowbutton:hover { 
			text-decoration: none;
			background-color: goldenrod;			
			box-sizing:border-box
}
.Slides {
    		display:none;
    		text-align: center;}
/* Slideshow container */
.slideshow {
    		max-width: 1000px;
    		position: relative;
    		margin: auto;
    		max-height: 370px;
}
/* Next & previous buttons */
.prev, .next {
    		cursor: pointer;
    		position: absolute;
    		top: 50%;
    		width: auto;
    		padding: 16px;
    		margin-top: -22px;
    		color: white;
    		font-weight: bold;
    		font-size: 18px;
    		transition: 0.6s ease;
    		border-radius: 0 3px 3px 0;
}
/* Position the "next button" to the right */
.next {
    		right: 0;
    		border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    		background-color: rgba(0,0,0,0.8);
}
/* Caption text */
.caption {
    		color: #f2f2f2;
    		font-size: 15px;
    		padding: 8px 12px;
    		position: absolute;
    		bottom: 8px;
    		width: 100%;
    		text-align: center;
}
/* Number text (1/3 etc) */
.numbertext {
    		color: #f2f2f2;
    		font-size: 12px;
    		padding: 8px 12px;
    		position: absolute;
    		top: 0;
}
/* The dots/bullets/indicators */
.dot {
    		cursor:pointer;
   		 	height: 13px;
    		width: 13px;
    		margin: 0 2px;
    		background-color: #bbb;
    		border-radius: 50%;
    		display: inline-block;
    		transition: background-color 0.6s ease;
}
.active, .dot:hover {
    		background-color: #717171;
}

/* Fading animation */
.fade {
    		-webkit-animation-name: fade;
    		-webkit-animation-duration: 1.5s;
    		animation-name: fade;
    		animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    		from {opacity: .4}
    		to {opacity: 1}
}
@keyframes fade {
    		from {opacity: .4}
    		to {opacity: 1}
}
/* On smaller screens, decrease text size */
@media only screen and (
			max-width: 300px) {
.prev, .next,.text {
			font-size: 11px}}
/**For the scrip pages **/
.panel, .flip {
    		padding: 5px;
    		background-color: white;
			cursor: pointer;
}
.panel {
    		display: none;
}.panel2, .flip2 {
    		padding: 5px;
    		background-color: white;
			cursor: pointer;
}			
.panel2 {
    		display: none;
}.panel3, .flip3 {
    		padding: 5px;
    		background-color: white;
			cursor: pointer;
}
.panel3 {
    		display: none;
}.panel4, .flip4 {
    		padding: 5px;
    		background-color: white;
			cursor: pointer;
}
.panel4 {
    		display: none;
}.panel5, .flip5 {
    		padding: 5px;
    		background-color: white;
			cursor: pointer;
}
.panel5 {
    		display: none;
}.panel6, .flip6 {
    		padding: 5px;
    		background-color: white;
			cursor: pointer;
}
.panel6 {
    		display: none;
}.panel7, .flip7 {
    		padding: 5px;
    		background-color: white;
			cursor: pointer;
}
.panel7 {
    		display: none;
}.panel8, .flip8 {
    		padding: 5px;
    		background-color: white;
			cursor: pointer;
}
.panel8 {
    		display: none;
}
div {
	min-width: 300px;
}
