@charset utf-8;

html,body
{
	height:100%;
	margin:0;
	padding:0;
	width:100%;
}

body
{
	background-color:#FFF;
}

a
{
	text-decoration:none;
}

a[href^=//]:after,a[href^=http://]:after,a[href^=https://]:after
{
	content:url(http://upload.wikimedia.org/wikipedia/commons/6/64/Icon_External_Link.png);
	margin:0 0 0 5px;
}

.topbar
{
	background-color:#000;
	margin:0;
	overflow:hidden;
	padding:0;
	position:fixed;
	top:0;
	width:100%;
	z-index:998;
}

.topbar li
{
	display:inline;
}

.topbar li a
{
	color:#FFF;
	display:inline-block;
	font-family:sans-serif;
	padding:12px 13px;
	text-align:center;
	text-decoration:none;
}

.topbar li a:hover
{
	background-color:#00008B;
}

.topbar li a.active
{
	background-color:blue;
	color:#FFF;
}

.wrapper
{
	background:#FFF;
	height:auto;
	margin:3% auto;
	width:80%;
}

.floatdivleft
{
	display:inline-block;
	float:left;
	width:60%;
}

.floatdivright
{
	display:inline-block;
	float:right;
	width:30%;
}

.contentbox
{
	-moz-box-shadow:10px 10px 10px rgba(0,0,0,0.5);
	-webkit-box-shadow:10px 10px 10px rgba(0,0,0,0.5);
	background:#FFF;
	border:2px solid #000;
	border-radius:5px;
	box-shadow:10px 10px 10px rgba(0,0,0,0.5);
	font-family:sans-serif;
	height:auto;
	margin-bottom:1%;
	overflow:auto;
	padding-left:4%;
	padding-right:2%;
	vertical-align:bottom;
	width:auto;
}

.contentbox h2
{
	text-align:center;
}

.contentbox img
{
	border:2px solid #000;
	border-radius:5px;
	display:block;
	margin-bottom:1%;
	margin-left:auto;
	margin-right:auto;
}

.dlowbutton
{
	background-color:#FFD700;
	border:2px solid #000;
	border-radius:5px;
	color:#000;
	height:100px;
	line-height:70px;
	margin-bottom:1em;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	text-decoration:none;
	width:300px;
}

.dlowbutton:hover
{
	background-color:#DAA520;
}

.forms
{
	float:left;
	width:50%;
}

input[type=text],input[type=number],select
{
	border:1px solid #ccc;
	border-radius:4px;
	box-sizing:border-box;
	display:inline-block;
	margin:8px 0;
	padding:12px 20px;
	width:100%;
}

input[type=submit]
{
	background-color:#FFD700;
	border:none;
	border-radius:4px;
	color:#000;
	cursor:pointer;
	margin:8px 0;
	padding:14px 20px;
	width:100%;
}

input[type=submit]:hover
{
	background-color:#DAA520;
}

.footer
{
	background-color:#000;
	bottom:0;
	display:table;
	height:120px;
	margin:0;
	padding-left:1%;
	padding-top:10px;
	position:relative;
	width:99%;
}

.footer p
{
	color:#FFF;
	line-height:10%;
	text-align:left;
}